.character-box {
  width: var(--global-size-l);
  height: var(--global-size-l);
  display: flex;
  padding: 40px 0px 0px 0px;
  flex-direction: column;
}

.character-box-avatar {
  display: flex;
  flex-direction: column;
}

.character-box-head,
.character-box-chest,
.character-box-legs {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.character-box-head {
  background-image: url("/images/wardrobe/head/avatar.svg");
  height: 36%;
  display: flex;
  justify-content: center;
}

.character-box-chest {
  background-image: url("/images/wardrobe/chest/avatar.svg");
  height: 27%;
  display: flex;
  justify-content: center;
}

.character-box-legs {
  background-image: url("/images/wardrobe/legs/avatar.svg");
  height: 37%;
  display: flex;
  justify-content: center;
}

.character-box-img {
  height: var(--global-size-xl);
  width: var(--global-size-xl);
  object-fit: contain;
}

.character-box-hair {
  width: 90%;
  object-fit: contain;
}

.character-box-shirt {
  width: 90%;
  object-fit: contain;
}

.character-box-pants {
  width: 50%;
  object-fit: contain;
}

/* MEDIA QUERIES */

@media (max-width: 767px) {
  .character-colours-selection {
    width: 30px;
    height: 30px;
  }
  .character-box-head {
    height: 23%;
  }

  .character-box-chest {
    height: 15%;
  }

  .character-box-legs {
    height: 20%;
  }
  .character-box-pants {
    left: 26px;
  }
}
