body {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff8d3;
  border: 5px solid #ff7cd3;
  border-radius: 10px 10px 0px 0px;
  margin: 30px 30px 0px 30px;
  padding: 20px 50px 20px 50px;
  font-family: monospace;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #ff7cd3;
}

.content {
  display: flex;
  flex-direction: row;
  height: 550px;
  margin: 0px 0px 30px 0px;
}

.selector {
  display: flex;
  flex-direction: column;
  background: #ffd3eb;
  width: 50%;
  height: 100%;
  margin: 0px 0px 0px 30px;
  align-items: center;
  border-radius: 0px 0px 0px 20px;
  border: 5px solid #ff7cd3;
  border-top: 0px;
}

.selector-box {
  display: flex;
  box-sizing: border-box;
  width: 60%;
  height: 30%;
  margin: 20px 0px 10px 0px;
  background: #ecebeb;
  border: 10px solid #6898f8;
  border-radius: 50px;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.selector-box-hair,
.selector-box-hoodie,
.selector-box-pants {
  width: 80%;
  object-fit: contain;
  height: 80%;
  cursor: pointer;
}

.character {
  display: flex;
  flex-direction: row;
  background: #c5fabc;
  width: 50%;
  height: 100%;
  margin: 0px 30px 0px 0px;
  border-radius: 0px 0px 10px 0px;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  border: 5px solid #ff7cd3;
  border-top: 0px;
  border-left: 0px;
}

.character-box {
  width: 60%;
  position: relative;
}

.character-box-avatar {
  width: 100%;
}

.character-colours {
  width: 60%;
  height: 20%;
  background: #ecebeb;
  border: 10px solid #ffd3eb;
  border-radius: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  padding: 10px;
}

.character-colours-box-one {
  width: 60%;
  height: 60%;
  background: #f998c7;
  border: 5px solid #c4c4c4;
  border-radius: 10px;
  cursor: pointer;
}

.character-colours-box-two {
  width: 60%;
  height: 60%;
  background: #ffcea0;
  border: 5px solid #c4c4c4;
  border-radius: 10px;
  cursor: pointer;
}
.character-colours-box-three {
  width: 60%;
  height: 60%;
  background: #eabcfa;
  border: 5px solid #c4c4c4;
  border-radius: 10px;
  cursor: pointer;
}
.character-colours-box-four {
  width: 60%;
  height: 60%;
  background: #faf0bc;
  border: 5px solid #c4c4c4;
  border-radius: 10px;
  cursor: pointer;
}
.character-colours-box-five {
  width: 60%;
  height: 60%;
  background: #bcf2fa;
  border: 5px solid #c4c4c4;
  border-radius: 10px;
  cursor: pointer;
}
.character-colours-box-six {
  width: 60%;
  height: 60%;
  background: #bcfac6;
  border: 5px solid #c4c4c4;
  border-radius: 10px;
  cursor: pointer;
}

.character-box-hair {
  position: absolute;
  left: 12px;
  top: 34px;
}

.character-box-hoodie {
  position: absolute;
  top: 148px;
  left: 0px;
  height: 37%;
  z-index: 1;
}

.character-box-pants {
  position: absolute;
  height: 32%;
  bottom: 11px;
  left: 47px;
}
