.selector {
  display: flex;
  flex-direction: column;
  background: var(--color-oldpink);
  width: var(--global-size-m);
  height: var(--global-size-xl);
  margin: 0px 0px 0px 30px;
  align-items: center;
  border-radius: 0px 0px 0px 10px;
  border: 5px solid;
  border-color: var(--color-bubblegum);
  border-top: 0px;
  padding: 20px 0px 20px 0px;
}

.selector-box {
  display: flex;
  box-sizing: border-box;
  width: var(--global-size-l);
  height: var(--global-size-s);
  margin: 10px 0px 10px 0px;
  background: var(--color-grey);
  border: 10px solid;
  border-color: var(--color-sky);
  border-radius: 50px;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.selector-box:hover {
  border-color: var(--color-bubblegum);
}

.selector-box-hair,
.selector-box-hoodie,
.selector-box-pants {
  width: 80%;
  object-fit: contain;
  height: 70%;
  cursor: pointer;
}
