.selector-box {
  display: flex;
  box-sizing: border-box;
  width: var(--global-size-l);
  height: var(--global-size-s);
  margin: 10px 0px 10px 0px;
  background: var(--color-grey);
  border: 10px solid;
  border-color: var(--color-sky);
  border-radius: 50px;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.selector-box:hover {
  border-color: var(--color-bubblegum);
}

.selector-box-hair,
.selector-box-hoodie,
.selector-box-pants {
  width: 80%;
  object-fit: contain;
  height: 70%;
  cursor: pointer;
}
